.logoDiv {
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
}

.logoProfers {
  height: 36px;
  width: 36px;
  padding: 12px 28px;
  display: block;
  margin-left: -30px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.08);
}

.logo:hover {
  background-color: #2d3133 !important;
}

.userAddress:hover {
  background-color: #2d3133 !important;
}

.userAddress {
  font-family: Celias, Helvetica;
  font-weight: lighter;
  display: flex;
  font-size: 15px;
  padding: 22px 40px;
}

.locationMargin {
  margin: 0px 7px;
  cursor: pointer;
}

.login {
  font-family: Celias, Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 15px 20px;
  margin-right: auto;
}

.login:hover {
  background-color: #2d3133 !important;
}

.signUp {
  background-color: #e96336;
  border: none;
  font-size: 14px;
  padding: 14px 70px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.faq {
  padding: 14px 20px 14px 46px;
}