.add_button {
  height: 30px;
  width: 80%;
  text-align: center;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgb(233, 97, 37);
}

.add_button > div {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.root {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}

.plus_button {
  height: 30px;
  text-align: center;
  font-size: large;
  color: white;
  background: rgb(191, 80, 31);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 20%;
}
