.cardContainer:hover {
  border: 1px solid lightgrey;
}

.paymentBtn {
  background: #e96125;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 13px 12px;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}
